.question {
  flex: 1;
}

.question-text {
  text-align: center;
  margin: 0;
  flex: 1;
  font-size: 48px;
}

.buttons-container {
  flex: 1;
  display: flex;
  width: 40%;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
}