.auth-form {
  flex: 9;
  display: none;
  flex-direction: column;

  &.active {
    display: flex;
  }

  .auth-form-header {
    flex: 1;
    margin: 0;
  }

  .form-items {
    flex: 9;
    display: flex;
    flex-direction: column;
  }

  .submit-form {
    border: none;
    font-size: 16px;
    outline: none;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
  }
}