.template-item-link {
  text-decoration: none;
}

.template-item {
  background-color: #eee;
  padding: 25px;
  margin: 15px;
  border-radius: 12px;
  color: #000;
  display: flex;

  .template-item-image-container {
    flex: 1;

    .image {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  .template-item-content {
    flex: 9;
    margin-left: 40px;

    .subtext-container {
      font-style: italic;
      font-size: 16px;

      .subtext {
        display: inline-block;
        margin: 0;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
      }

      .item-count {
        margin-left: 5px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}