.app-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .app-link {
    color: #fff;
    text-decoration: none;
  }

  .app-bar-header {
    margin: 0;
  }
}