.item-input {
  .item-input-inner {
    margin: 15px 0 0;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom-color: #ddd;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    display: block;
    width: 100%;

    &::placeholder {
      color: #ddd;
    }

    &.validate-error {
      border-bottom-color: #b30000;
    }
  }
}