.item-input {
  display: flex;
}

.item-input-inner {
  margin: 15px 0 0;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom-color: #ddd;
  padding: 5px;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: #ddd;
  }

  &.validate-error {
    border-bottom-color: #b30000;
  }
}