$inactive-border-color: #bbb;
$active-border-color: #eee55b;

.switcher {
  max-height: 50px;

  .switch-option {
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;
    text-align: center;
    border-bottom: 2px solid transparent;
    color: #888;

    &:hover {
      border-bottom-color: $inactive-border-color;

      &.active {
        border-bottom-color: $active-border-color;
      }
    }

    &.active {
      color: #fff;
      border-bottom-color: $active-border-color;
    }

    &:last-child {
      border-right: none;
    }

    .option-text {
      margin: 0;
    }
  }
}