.switcher {
  flex: 1;
  display: flex;
  background-color: #fff;

  .switch-option {
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;

    border-right: 2px solid gray;

    &:last-child {
      border-right: none;
    }

    .option-text {
      margin: 0;
      color: #000;
    }
  }
}